html {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e1e1e;
}
body {
 
 color: white;

}
a {
    color: salmon;
}
a:hover {
    color: blueviolet;
}
header {
    background-color: rgb(45, 18, 39);
    padding: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-style: solid ;
    border-color: rgb(18, 6, 16);
    
     
}
.page-wraper {
    width: 80%;
    max-width: 1280px;
}

h1, h2, h3 {
    text-align: center;
}

#zen-intro header h1, #zen-intro header h2 {
    display: inline-block;
}
#zen-intro header h1 {
    margin-right: 5%;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    text-align: center;
    display: inline-block;
    padding: 2%;
    border-style: solid;
    margin: 1em;
    
}

